body{
  background-color: black;
  
  color:white ;
}
.nav{
  height: 35%;
  padding: 25px;
  margin: 0;
  }
  h1{font-family: 'Merienda',cursive;
    text-align: center;
   /* margin: 10px 250px;*/
    display: block;
    font-size:85px; 
    text-shadow: 0 0 5px rgb(5, 41, 248), 0 0 10px rgb(5, 189, 245), 0 0 15px rgb(89, 2, 250), 0 0 20px #a02dff, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px hsl(261, 100%, 50%), 0 0 75px #2e0afa;
  }

  .bottom-half{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    height: 500px;
    padding: 25px;
  }
  .buttonR{
    text-decoration: none;
    text-align: center;
    }
    .buttonR:hover{
      color: red;
    
    }
  .buttonP{
      text-decoration: none;
      text-align: center;
      }
      .buttonP:hover{
        color: rgb(0, 255, 13);
      }
      .buttonL{
        text-decoration: none;
        text-align: center;
        }
        .buttonL:hover{
          color: rgb(247, 2, 194);
        }
        .buttonC{
          text-decoration: none;
          text-align: center;
          }    
          .buttonC:hover{
            color:rgb(0, 255, 13);
          }
          .buttonA{
            text-decoration: none;
            text-align: center;
            }
            .buttonA:hover{
              color: blue;
            }
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
@media (max-width: 768px){
  body{
    width: auto;
    display: block;
    justify-items: center;
  }
  .nav{
    display: block;
    align-items: center;
    text-align: center;
    margin: 20px;
  }
  }
}
@media (max-width:414px){
  body{
    display: flex;
    grid-template-rows: 1fr;
  }

}